/**

1. - Fönsterinställningar.
2. - Memoryinstälningar.

**/
/** 1. Fönsterinställningar för alla fönster.**/


.windowdiv {
    position:absolute;
    top:5px;
    left:5px;
    background:#F5F5F5;
    margin-left:5px;
    margin-top:5px;
    border-radius:7px;
    border:1px ridge #848484;
    box-shadow:0 0 15px;
    text-align:center;
    opacity:1.0;
    visibility:visible;
    transition:visibility 0s, 0.5s,opacity 0.5s;
}

.windowdiv2 {
    position:absolute;
    top:80%;
    left:40%;
    background:#F5F5F5;
    margin-left:5px;
    margin-top:5px;
    border-radius:7px;
    border:1px ridge #848484;
    box-shadow:0 0 15px;
    text-align:center;
    opacity:0;
    visibility:hidden;
    transition-delay:0.0s;
}

.headdiv {
    text-align:center;
    background:#CACACA;
    height:40px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom:1px solid #848484;
}

.statusdiv {
    background:red;
    
}

.headimg {
    float:right;
    width:23px;
    margin:5px;
}

.headlabel {
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.7em;
    font-weight:bolder;
    margin:20px;
}

.headminim {
    float:left;
    margin-top:4px;
    border-color:#CDCD14;
    background:#FFD700;
    border-radius:20px;
    width:9px;
    height:15px;
    box-shadow:0px 0px 3px;
}

.headclose {
    float:left;
    margin:4px;
    border-color:#FF6868;
    background:#EB5454;
    border-radius:20px;
    width:9px;
    height:15px;
    box-shadow:0px 0px 3px;
}


/** 2. Memory-inställningar**/
.counter {
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    font-weight:bolder;
    margin-top:5px;
    margin-bottom:10px;
}

table {
    margin:auto;
}

td {
    padding:3px;
}

.winner {
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    font-weight:bolder;
    margin:5px;
    max-width:170px;
}