nav {
 position: fixed;
 bottom: 0;
 left:50%;
 overflow: hidden;
 margin-left:-300px;
}

#dock {
 float:left;
 height: 90px;
 width:530px;
}


#dock { 
    background: url("pics/dock7.png") repeat-x bottom; 
    opacity:0.9;
}

#menu_dashboard {
 display: inline-block;
 width: auto;
 margin: 0px;
 margin-left:80px;
 padding: 0px;
 list-style: none;
}

#menu_dashboard li {
 width: auto;
 height: auto;
 display: inline-block;
 bottom: 0;
}

#menu_dashboard li a {
 display: block;
 height: 50px;
 width: 50px;
 margin-left:11px;
 position: relative;
 top:15px;
}

#menu_dashboard li a img {
 width: 100%;
 position: absolute;
 bottom: 0;
 left: 0;
 border: none;
}

#menu_dashboard li a:hover {
position:absolute;
top:5px;
}

#loginit {
    margin-left:37px;
}

#menu_dashboard li a {
 -webkit-transition-property: position, top;
 -webkit-transition-duration: 0.2s;
 -o-transition-property: position, top;
 -o-transition-duration: 0.2s;
 -moz-transition-property: position, top;
 -moz-transition-duration: 0.2s;
}

#loginicon {
    position:absolute;
    left:380px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.1s,opacity 0.1s linear;
}
#loginicon2 {
    position:absolute;
    left:380px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    opacity:0.9;
    transition-delay:0.0s;
}

#rssicon {
    position:absolute;
    left:157px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.1s,opacity 0.1s linear;
}
#rssicon2 {
    position:absolute;
    left:157px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    opacity:0.9;
    transition-delay:0.0s;
}

#memoryicon {
    position:absolute;
    left:214px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.1s, opacity 0.1s linear;
    
}
#memoryicon2 {
    position:absolute;
    left:214px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    opacity:0.9;
    transition-delay:0.0s;
    
}

#chaticon {
    position:absolute;
    left:283px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.1s, opacity 0.1s linear;
}
#chaticon2 {
    position:absolute;
    left:283px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    opacity:0.9;
    transition-delay:0.0s;
}

#imageicon {
    position:absolute;
    left:79px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.1s, opacity 0.1s linear;
}
#imageicon2 {
    position:absolute;
    left:79px;
    top:60px;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:0.6em;
    color:white;
    opacity:0.9;
    transition-delay:0.0s;
}

