body {
    background:#F4F7D7;
    text-align:center;
    margin:auto 0;
    font-family:courier;
}

h1 {
    font-family:courier;
    font-weight:lighter;
}

table {
    margin:auto;
    width:200px;
    height:200px;
    border:1px ridge black;
    border-radius:20px;
    background:white;
    box-shadow:1px 1px 1px 2px;
}

#winner {
    font-family:courier;
    font-size:1.5em;
    color:#339933;
    font-weight:bolder;
}

#counter {
    font-family:courier;
    font-size:1.2em;
    color:black;
    font-weight:bolder;
}

form {
    font-family:courier;
    margin:auto;
    width:500px;
    text-align:left;
}

input {
    border-radius:5px;
}

#rows {
    margin-left:32px;
}

[type=button] {
    font-family:courier;
    font-size:1.0em;
    background:#AEB191;
}
