body {
    background:#F4F7D7;
    text-align:center;
}

h1 {
    font-family:courier;
    font-weight:lighter;
}

.memtable {
    margin:auto;
    width:200px;
    height:200px;
    border:1px ridge black;
    border-radius:20px;
    background:white;
    box-shadow:1px 1px 1px 2px;
}

.winner {
    font-style:courier;
    font-size:1.5em;
    color:#339933;
    font-weight:bolder;
}

.counter {
        font-style:courier;
    font-size:1.2em;
    color:black;
    font-weight:bolder;
}


