body {
    background:#F4F7D7;
    text-align:center;   
}

h1 {
    font-family:helvetica;
    font-weight:lighter;
}

#messageslist {
    max-width:100%;
    margin:10px;
}


textarea {
    resize:none;
    max-width:100%;
    border-radius:20px;
    border-color:gray;
    
}

button {
    width:100px;
    height:25px;
    font-size:1.0em;
}