body {
    background:#F4F7D7;
    text-align:center;
}

h1 {
    font-family:courier;
    font-weight:lighter;
}

#messageslist {
    max-width:100%;
    margin:10px;
}


textarea {
    resize:none;
    max-width:100%;
    border-radius:20px;
    border-color:gray;
    
}

input {
    font-family:courier;
    width:100px;
    height:25px;
    font-size:1.0em;
}

p {
    display:inline;
}

.textfield {
    float:left;
    width:75%;
}

.created {
    font-size:0.8em;
}

.deletethis {
    float:right;
    left:1000px;
    border-color:#B40404;
    background:#B40404;
    border-radius:20px;
    width:9px;
    height:15px;
}

.infothis {
    float:right;
    left:1000px;
    border-color:#FFD700;
    background:#FFD700;
    border-radius:20px;
    width:9px;
    height:15px;
    margin-right:5px;
}

.wrapper {
    padding:20px;
    background:white;
    border-radius:20px;
    margin-bottom:5px;
    text-align:left;
}

.clearing {
    clear:both;
}

main {
    max-width:50%;
    margin:0 auto;
}