body {
    background:#F4F7D7;
    text-align:center;
    margin:auto;
}

h1 {
    font-family:courier;
    font-weight:lighter;
}

form {
    font-family:courier;
    margin:auto;
    width:600px;
    text-align:left;
}

label.flabel {
    font-family:courier;
    display:block;
}


input {
    border-radius:5px;
    margin-top:5px;
    padding:5px;
    display:inline-block;
}

span {
    font-size:0.7em;
    color:#FF7878;
}

select {
    border-radius:5px;
    display:block;
    margin-top:5px;
    margin-bottom:40px;
    padding:5px;
}

#send {
    font-family:courier;
    font-size:1.0em;
    background:#AEB191;
}

.error {
    background:#FF7878;
}

.correct {
    background:#8CCD8C;
}

#popup {
    position:absolute;
    top:30%;
    left:40%;
    width:40%;
    background:white;
    border: 1px ridge black;
    border-radius: 30px;
    box-shadow:5px 5px 20px;
    text-align:left;
}

h2 {
    font-family:courier;
    font-size:1.2em;
    margin-left:20px;
    margin-bottom:30px;
}


p.lname {
    font-family:courier;
    margin-left:45px;
    font-weight:bolder;
    display:inline-block;
}

.lvalue {
    font-family:courier;
}
