body {
    background:#F4F7D7;
    text-align:center;
    margin:auto;
}

h1 {
    font-family:courier;
    font-weight:lighter;
}

form {
    font-family:courier;
    margin:auto;
    width:600px;
    text-align:left;
}

label.flabel {
    font-family:courier;
    display:block;
}

input {
    border-radius:5px;
    margin-top:5px;
    padding:5px;
    display:inline-block;
}

span.errorspan {
    font-size:0.7em;
    color:#FF7878;
}

select {
    border-radius:5px;
    display:block;
    margin-top:5px;
    margin-bottom:40px;
    padding:5px;
    width:132px;
}

#confirm {
    font-family:courier;
    font-size:1.0em;
    background:#AEB191;
}

.error {
    background:#FF7878;
}

.correct {
    background:#8CCD8C;
}

#modalpop {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	z-index: 99999;
	opacity:0.5;
}

#popup {
    position:fixed;
    top:15%;
    left:30%;
    width:40%;
    background:white;
    border: 1px ridge black;
    border-radius: 30px;
    box-shadow:5px 5px 20px;
    text-align:left;
    z-index: 999999;
}

h2 {
    font-family:courier;
    font-size:1.2em;
    margin-left:20px;
    margin-bottom:30px;
}


.lname {
    font-family:courier;
    margin-left:45px;
    margin-bottom:10px;
    font-weight:bolder;
    display:block;
}

.lvalue {
    float:left;
    position:relative;
    top:-140px;
    left:175px;
    font-family:courier;
    font-weight:lighter;
    margin-left:10px;
    margin-bottom:10px;
    display:block;
    clear:both;
}

button {
    float:right;
    font-family:courier;
    font-size:1.0em;
    border-radius:5px;
    background:#AEB191;
    margin:20px;
}